#root {
  /* max-width: 1280px; */
  width: 100vw;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

/* MAIN BODY STYLING */
.main-container {
  padding: 20px 60px;
}

/* HEADER */


.header-container {
  width: 100%;
  height: 250px;
  background-image: url('./assets/GAdashboard.png');
  background-size: cover;
  background-position: 50% 50%;
}
.top-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 50px;
  background-color: var(--main-back-color);
}
.ga-logo,
.name-icon {
  margin: 0 15px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--grey-text);
  color: #262626;
}
.ga-logo {
  background-image: url('./assets/GAlogo.png');
  background-size: cover;
}
.name-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* NAVBAR */
.navbar-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.navbar-container {
  display: flex;
}
.nav-items {
  text-transform: uppercase;
  color: var(--grey-text);
  font-weight: 700;
  margin-right: 25px;
  cursor: pointer;
}

/* CHANNELS */
.channel-outer,
.sei-container,
.outcomes-container {
  border-top: 2px solid var(--grey-text);
  padding-top: 5px;
  margin-top: 15px;
  min-height: 100vh;
}

.channel-outer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;


}
.channel-header {
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  width: 80%;
  justify-content: space-between;
}
.h2-container {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.h2-container > h2 {
  margin: -2px;
  padding: 0;
}
.channel-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
/* channel-card */
.card {
  margin-bottom: 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 65vw;
  /* background-color: #fafafa; */
  border-radius: 5px;
  box-shadow: 2px 2px 7px #d2d2d2, -2px -2px 7px #d2d2d2;
  border: none;
}
.card > img {
  height: 100px;
  width: 100px;
  overflow: hidden;
}
.chan-card-description {
  /* background-color: pink; */
  text-align: left;
  width: 50%;
}
.chan-card-description > h3 {
  margin-bottom: 2px;
}
.chan-card-description > p {
  margin-top: 0;
  color: var(--grey-text);
}
.card > button {
  height: 40px;
  width: 170px;
  border-radius: 30px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--button-text);
  background-color: var(--teal);
  cursor: pointer;
  transition: border-color 0.25s;
}

/* sidebar */
.side-bar {
  width: 17vw;
}
.side-bar > h3 {
  margin-top: 0;
  margin-bottom: 5px;
  text-align: left;
}

/* filter area */
.filter-container {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}
.filter-container > select {
  margin-bottom: 20px;
  padding: 3px;
  width: 100%;
  color: #262626;
  background-color: var(--main-back-color);
  box-shadow: 1px 1px 5px #f1f1f1, -1px -1px 5px #f1f1f1;
  border: none;
}


/* DYNAMIC PICTURES */
#pic1 {
  content: url("./assets/lgbtqia.png");
}

#pic2 {
  content: url("./assets/pets.png");
}

#pic3 {
  content: url("./assets/empowered.png");
}

#pic4 {
  content: url("./assets/women.png");
}

#pic5 {
  content: url("./assets/parents.png");
}

#pic6 {
  content: url("./assets/neurodiversity.png");
}

#pic7 {
  content: url("./assets/gaming.png");
}

#pic8 {
  content: url("./assets/blackintech.png");
}

#pic9 {
  content: url("./assets/uxdi.png");
}

#pic10 {
  content: url("./assets/sei.png");
}

#pic11 {
  content: url("./assets/dsi.png");
}

#pic12 {
  content: url("./assets/hiring.png");
}

.sei-image {
  content: url('./assets/SEI-main.png');
  width: 100%;
  
}

.outcomes-image {
  content: url('./assets/Outcomes.png');
  width: 100%;
}


.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popup p {
  margin-bottom: 10px;
}

.popup button {
  background-color: #01798F;
  color: var(--button-text);
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

/* .navbar-container .active-menu-item {
  transform: scale(1.1);
  background-color: #002142;
} */

.navbar-container .active-menu-item::after {
  content: "";
  display: block;
  border-bottom: 3px solid #01798F;
  /* margin-bottom: -15px; */
  margin-top: 5px;
}